*{
    margin: 0;
    
}
   
.barraEnvios{
    background-color: #EE6E73;
    text-align: center;
    font-weight: 900;
    padding: 0;
}    

.quierete{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 0.5em 0 0 0;
}

.bonito{
    font-size: 20px;    
    font-style: italic;
    text-align: center;
    padding-bottom:  5px;
}
nav{
    height: 120px;
    
}

.menu{
    padding: 1em;
}
.redes{   
   margin: 20px;
}

.imgRedes{
height: 80px;  
}

.targetas_uno{
    display: inline-block; 
    margin: 0 0 0 25%;
    padding:0;
}

.targetas_dos{
display: inline-block;
margin: 0;
padding: 0;


}