@media (min-width: 320px) and (max-width: 480px) {
    .cabeza{
        width: 100%;
        height: 100px;
        background-color: #535151;
        text-align: center;
        position: fixed;
        z-index: 1;
        
    }    
    
    a:hover{
        color: dodgerblue;
    }
    
    .logo{
        width: 200px;
        height: 100px;
        float:left;
        margin:5px 0px 0px 60px;
        position: relative; 
        padding: 0; 
          
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    .fondo{      
        background-image: url("../img/fondo.jpg");
        background-position: center;
        background-repeat: no-repeat;   
        height: 680px;   
    }
    
    .envio{
    background-color: #E4E4E4;
    color:rgb(2, 2, 2);
    text-align: center;
    height: 30px;
    }
    
    .p-envio{    
        font-size: 12px; 
        font-family: 'Raleway', sans-serif;      
        margin: -80px;    
    }
    h1{
        
        color: #303132;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
    }
    
    h2{
        
        color: #303132;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        
    }
    
    h3{
        color: #303132;
        text-align: center;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
    }
    
    
    
    .coleccion{
        height: 150px;
        width: 250px;
        background-color:rgba(229, 226, 216, 0.5);
        position: absolute;
        margin-left: 10%;
        margin-top: -350px;
    }
    
    p{
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 30px;   
        text-align: center;
        margin-top: 20px;
        padding: 10px
    }
    .boton{
    text-align: center;
    background-color: #303132;
    padding: 5px 30px 5px 30px;
    margin-left: 65px;
    font-family: 'Raleway', sans-serif;
    
    
    }
    
    .formal{
        padding: 3em;
        display:block;
        position: relative  ;
        margin-left: 10%;        
       
       
    }
    
    .acces{
        padding: 3em;
        display:block;
        position: relative;
        margin-left: 10%;    
        margin-top: 30%;   
           
    }

    .n-baño{
        padding: 0.5em;    
        background-color: #303132;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        width: 145px;
    }
    
    .n-acces{
      
        padding: 0.5em;    
        background-color: #303132;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        width: 145px;
    }
    
    #contenedor{
        width: 100%;
        height:850px;
    }
    footer{
        background-color:  #303132;
        width: 100%;
        height: 400px;
    }
    
    #sigue{
        color:  #E4E4E4;
        font-size: 12px;
        font-weight: 600;
        margin:5px;
        font-size: 14px;
        padding: 0;
    }
    .suscribete{
        display:block;
        margin-left: 50px;
        
    }
    
    .iconos{
        display: block;
        margin-left: 20px; 
    }
    #boton{
        background-color: #d3d3d3;
        color:  #303132;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;    
          
        position: absolute;    
        text-align: center;
        height: 10px;
        width: 230px;
        padding: 5px 0 10px 0;
    
    }
    #email{
        display: block;
        border-style: none;
        position: absolute;
        height: 30px;
        margin-left: 15px;
        
    }

    
    .datos{
        display: block;
        margin-left: 30px;  
        color:  #d3d3d3;
        margin-top: 80px;
        
    }
    .redes{
    padding: 10px;  
    margin-left: 20px;
    }
    #formal:hover{   
       
        -webkit-box-shadow: 0px 0px 50px 0px rgb(0, 0, 0,0.5);    
    }
    
    #acces:hover{ 
        -webkit-box-shadow: 0px 0px 50px 0px rgb(0, 0, 0,0.5);
    }
    
    .link{
        font-size: 12px;
        position: absolute;
    }
    #sus{
        font-size: 13px;
        font-weight: 600;
        color:  #d3d3d3;
        margin-left: 25px;;
    }

    
  }