@media all and (max-width: 480px){
 .link{
     visibility: hidden;
 }
 .cabeza{
     height: 100px;
     background-color: #868181;
 }


 .logo{
    width: 250px;
    height: 100px;
    margin: 5px 0 0  15%;
 }

 .fondo{
    height: 600px; 
 }

.coleccion{
    margin-left: 15%;
    height: 110px;
    width: 250px;
}
#boton{
    margin-left: 15px;
    width: 220px;
}

p{
    font-size: 20px;
}
    
 
.formal{
    
    display:block;
    position: absolute;
    margin-left: 10%;        
    
}

.acces{
    display:block ;
    position: absolute;
    margin-left: 10%;
    margin-top: 400px;  
      
    }

    .n-acces{
        width: 146px;
    }
    
    footer{      
        margin-top: 280px;
        height: 320px;

    }
    .iconos{
        display: block;
        margin: 5px 0 0 100px;
    }

    #sigue{
        margin:5px;
        position:absolute;
    }
    .redes{
        margin: 20px 0 0 0;
    }

    .suscribete{
        display: inline-block;
        margin-left: 17%;
    }
    .datos{
        display: inline-block;
        margin-left: 10%;  
        color:  #d3d3d3;
        margin-top: 80px;        
    }

   #contacta{
       font-size: 15px;
       margin-left: 15%;
   }
   span{
       margin-left: 15%;
   }
   .boton{
    padding: 5px 30px 5px 30px;
    margin-left: 70px;
   }

 
    
  }